# Q1: Import pandas library

In [2]:
# write your code here ^_^
import pandas as pd

# Q2: Read instagram_users.csv file

In [9]:
# write your code here ^_^
df = pd.read_csv('instagram_users.csv')
print (df)

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
0        44    48   325   33    1    0   12  0.000000  0.000   0.000000  0.00
1        10    66   321  150    1    0  213  0.000000  1.000  14.390000  1.97
2        33   970   308  101    1    1  436  0.000000  1.000  10.100000  0.30
3        70    86   360   14    1    0    0  1.000000  0.000   0.780000  0.06
4         3    21   285   73    1    0   93  0.000000  0.000  14.290000  0.00
...     ...   ...   ...  ...  ...  ...  ...       ...    ...        ...   ...
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
0      0.000  0.000  0.0  0.000  0.111111     0.094985     f
1      0.000  1.500  0.0  0.000  0.206826   230.412857     f
2      0.000  2.500  0.0  0.056  0.572174    43.569939     f
3      0.000  0.000  0.0  0.000  1.000000     5.859799     f
4      0.667  0.000  0.0  0.000  0.300494     0.126019     f
...      ...    ...  ...    ...       ...          ...   ...
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

[65326 rows x 18 columns]

# Q3: Print the number of rows and columns contained in the dataset

In [11]:
# write your code here ^_^
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 65326
Number of columns: 18

# Q4: Print the size of dataset

In [13]:
# write your code here ^_^
print("Size of dataset (in bytes):", df.memory_usage().sum())

Size of dataset (in bytes): 9407076

# Q5: Print the data type of each column

In [15]:
# write your code here ^_^
print(df.dtypes)

pos        int64
flw        int64
flg        int64
bl         int64
pic        int64
lin        int64
cl         int64
cz       float64
ni       float64
erl      float64
erc      float64
lt       float64
hc       float64
pr       float64
fo       float64
cs       float64
pi       float64
class     object
dtype: object

# Q6: Print the entire dataset
Note: if your dataset contains more than 60 rows, only the first 5 rows and the last 5 rows will be printed.

In [17]:
# write your code here ^_^
print(df)

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
0        44    48   325   33    1    0   12  0.000000  0.000   0.000000  0.00
1        10    66   321  150    1    0  213  0.000000  1.000  14.390000  1.97
2        33   970   308  101    1    1  436  0.000000  1.000  10.100000  0.30
3        70    86   360   14    1    0    0  1.000000  0.000   0.780000  0.06
4         3    21   285   73    1    0   93  0.000000  0.000  14.290000  0.00
...     ...   ...   ...  ...  ...  ...  ...       ...    ...        ...   ...
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
0      0.000  0.000  0.0  0.000  0.111111     0.094985     f
1      0.000  1.500  0.0  0.000  0.206826   230.412857     f
2      0.000  2.500  0.0  0.056  0.572174    43.569939     f
3      0.000  0.000  0.0  0.000  1.000000     5.859799     f
4      0.667  0.000  0.0  0.000  0.300494     0.126019     f
...      ...    ...  ...    ...       ...          ...   ...
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

[65326 rows x 18 columns]

# Q7: Print the first 5 rows

In [22]:
# write your code here ^_^
print(df.head())

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

# Q8: Print the last 5 rows

In [24]:
# write your code here ^_^
print(df.tail())

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q9: Print the total number of null values

In [26]:
# write your code here ^_^
print(df.isnull().sum().sum())

0

# Q10: Print the rows that has duplicate values

In [29]:
# write your code here ^_^
print(df[df.duplicated()])

       pos  flw   flg  bl  pic  lin  cl   cz   ni  erl  erc   lt   hc   pr  \
4118     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4165     0   30   149   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5812     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6500     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8134     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...   ...  ..  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
32745    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32747    0   34  7500   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32748    0   77  7400   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32749    0   70  7300   0    0    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32764    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0

        fo   cs   pi class
4118   0.0  0.0  0.0     f
4165   0.0  1.0  0.0     f
5812   0.0  0.0  0.0     f
6500   0.0  0.0  0.0     f
8134   0.0  0.0  0.0     f
...    ...  ...  ...   ...
32745  0.0  0.0  0.0     f
32747  0.0  1.0  0.0     f
32748  0.0  1.0  0.0     f
32749  0.0  1.0  0.0     f
32764  0.0  0.0  0.0     f

[1082 rows x 18 columns]

# Q11: Remove all duplicate values

In [31]:
# write your code here ^_^
df.drop_duplicates(inplace=True)

print(df)

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
0        44    48   325   33    1    0   12  0.000000  0.000   0.000000  0.00
1        10    66   321  150    1    0  213  0.000000  1.000  14.390000  1.97
2        33   970   308  101    1    1  436  0.000000  1.000  10.100000  0.30
3        70    86   360   14    1    0    0  1.000000  0.000   0.780000  0.06
4         3    21   285   73    1    0   93  0.000000  0.000  14.290000  0.00
...     ...   ...   ...  ...  ...  ...  ...       ...    ...        ...   ...
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
0      0.000  0.000  0.0  0.000  0.111111     0.094985     f
1      0.000  1.500  0.0  0.000  0.206826   230.412857     f
2      0.000  2.500  0.0  0.056  0.572174    43.569939     f
3      0.000  0.000  0.0  0.000  1.000000     5.859799     f
4      0.667  0.000  0.0  0.000  0.300494     0.126019     f
...      ...    ...  ...    ...       ...          ...   ...
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

[64244 rows x 18 columns]

# Q12: Print the number of rows and columns contained in the dataset after removing the duplicate values

In [33]:
# write your code here ^_^
print("Number of rows:", len(df))
print("Number of columns:", len(df.columns))

Number of rows: 64244
Number of columns: 18

# Q13: Rename all dataset's columns

|  Column name  |  New column name  |  Description  |
| ----- | -------- | ------- |
| pos    | Num_posts        | Number of total posts that the user has ever posted   |
| flg    | Num_following    | Number of following                                   |
| flr    | Num_followers    | Number of followers                                   |
| bl     | Biography_length | Length (number of characters) of the user's biography |
| pic    | Picture_availability | Value 0 if the user has no profile picture, or 1 if has |
| lin    | Link_availability| Value 0 if the user has no external URL, or 1 if has |
| cl     | Average_caption_length | The average number of character of captions in media |
| cz     | Caption_zero     | Percentage (0.0 to 1.0) of captions that has almost zero (<=3) length |
| ni     | Non_image_percentage | Percentage (0.0 to 1.0) of non-image media. There are three types of media on an Instagram post, i.e. image, video, carousel
| erl    | Engagement_rate_like | Engagement rate (ER) is commonly defined as (num likes) divide by (num media) divide by (num followers)
| erc    | Engagement_rate_comment | Similar to ER like, but it is for comments |
| lt     | Location_tag_percentage | Percentage (0.0 to 1.0) of posts tagged with location |
| hc     | Average hashtag count   | Average number of hashtags used in a post |
| pr     | Promotional keywords | Average use of promotional keywords in hashtag, i.e. regrann, contest, repost, giveaway, mention, share, give away, quiz |
| fo     | Followers keywords | Average use of followers hunter keywords in hashtag, i.e. follow, like, folback, follback, f4f|
| cs     | Cosine similarity  | Average cosine similarity of between all pair of two posts a user has |
| pi     | Post interval      | Average interval between posts (in hours) |
| class  | real_fake          | r (real/authentic user), f (fake user/bought followers) |

In [35]:
# write your code here ^_^
df.columns = ['Num_posts', 'Num_following', 'Num_followers', 'Biography_length', 'Picture_availability', 'Link_availability', 'Average_caption_length', 'Caption_zero', 'Non_image_percentage', 'Engagement_rate_like', 'Engagement_rate_comment', 'Location_tag_percentage', 'Average_hashtag_count', 'Promotional_keywords', 'Followers_keywords', 'Cosine_similarity', 'Post_interval', 'real_fake']

print(df)

       Num_posts  Num_following  Num_followers  Biography_length  \
0             44             48            325                33
1             10             66            321               150
2             33            970            308               101
3             70             86            360                14
4              3             21            285                73
...          ...            ...            ...               ...
65321         13            145            642                 0
65322        652           3000           1300               146
65323       1500           3700           3200               147
65324        329           1500           1800               218
65325        206            659            608                27

       Picture_availability  Link_availability  Average_caption_length  \
0                         1                  0                      12
1                         1                  0                     213
2                         1                  1                     436
3                         1                  0                       0
4                         1                  0                      93
...                     ...                ...                     ...
65321                     1                  0                       7
65322                     1                  1                     384
65323                     1                  1                     129
65324                     1                  1                     290
65325                     1                  0                      77

       Caption_zero  Non_image_percentage  Engagement_rate_like  \
0          0.000000                 0.000              0.000000
1          0.000000                 1.000             14.390000
2          0.000000                 1.000             10.100000
3          1.000000                 0.000              0.780000
4          0.000000                 0.000             14.290000
...             ...                   ...                   ...
65321      0.461538                 0.000             14.270000
65322      0.000000                 0.389              8.520000
65323      0.000000                 0.111              9.390000
65324      0.055556                 0.000              6.350000
65325      0.000000                 0.333             25.549999

       Engagement_rate_comment  Location_tag_percentage  \
0                         0.00                    0.000
1                         1.97                    0.000
2                         0.30                    0.000
3                         0.06                    0.000
4                         0.00                    0.667
...                        ...                      ...
65321                     0.58                    0.000
65322                     0.13                    0.000
65323                     0.31                    0.722
65324                     0.26                    0.222
65325                     0.53                    0.222

       Average_hashtag_count  Promotional_keywords  Followers_keywords  \
0                      0.000                   0.0               0.000
1                      1.500                   0.0               0.000
2                      2.500                   0.0               0.056
3                      0.000                   0.0               0.000
4                      0.000                   0.0               0.000
...                      ...                   ...                 ...
65321                  0.077                   0.0               0.000
65322                  1.611                   0.0               0.000
65323                  0.000                   0.0               0.056
65324                  0.500                   0.0               0.000
65325                  0.222                   0.0               0.167

       Cosine_similarity  Post_interval real_fake
0               0.111111       0.094985         f
1               0.206826     230.412857         f
2               0.572174      43.569939         f
3               1.000000       5.859799         f
4               0.300494       0.126019         f
...                  ...            ...       ...
65321           0.192308    1745.291260         r
65322           0.169917      54.629120         r
65323           0.058908     129.802048         r
65324           0.103174      53.402840         r
65325           0.017505     604.981445         r

[64244 rows x 18 columns]

# Q14: Change the class's values to real and fake

In [37]:
# write your code here ^_^
df.columns = ['Num_posts', 'Num_following', 'Num_followers', 'Biography_length', 'Picture_availability', 'Link_availability', 'Average_caption_length', 'Caption_zero', 'Non_image_percentage', 'Engagement_rate_like', 'Engagement_rate_comment', 'Location_tag_percentage', 'Average_hashtag_count', 'Promotional_keywords', 'Followers_keywords', 'Cosine_similarity', 'Post_interval', 'real_fake']

print(df)

       Num_posts  Num_following  Num_followers  Biography_length  \
0             44             48            325                33
1             10             66            321               150
2             33            970            308               101
3             70             86            360                14
4              3             21            285                73
...          ...            ...            ...               ...
65321         13            145            642                 0
65322        652           3000           1300               146
65323       1500           3700           3200               147
65324        329           1500           1800               218
65325        206            659            608                27

       Picture_availability  Link_availability  Average_caption_length  \
0                         1                  0                      12
1                         1                  0                     213
2                         1                  1                     436
3                         1                  0                       0
4                         1                  0                      93
...                     ...                ...                     ...
65321                     1                  0                       7
65322                     1                  1                     384
65323                     1                  1                     129
65324                     1                  1                     290
65325                     1                  0                      77

       Caption_zero  Non_image_percentage  Engagement_rate_like  \
0          0.000000                 0.000              0.000000
1          0.000000                 1.000             14.390000
2          0.000000                 1.000             10.100000
3          1.000000                 0.000              0.780000
4          0.000000                 0.000             14.290000
...             ...                   ...                   ...
65321      0.461538                 0.000             14.270000
65322      0.000000                 0.389              8.520000
65323      0.000000                 0.111              9.390000
65324      0.055556                 0.000              6.350000
65325      0.000000                 0.333             25.549999

       Engagement_rate_comment  Location_tag_percentage  \
0                         0.00                    0.000
1                         1.97                    0.000
2                         0.30                    0.000
3                         0.06                    0.000
4                         0.00                    0.667
...                        ...                      ...
65321                     0.58                    0.000
65322                     0.13                    0.000
65323                     0.31                    0.722
65324                     0.26                    0.222
65325                     0.53                    0.222

       Average_hashtag_count  Promotional_keywords  Followers_keywords  \
0                      0.000                   0.0               0.000
1                      1.500                   0.0               0.000
2                      2.500                   0.0               0.056
3                      0.000                   0.0               0.000
4                      0.000                   0.0               0.000
...                      ...                   ...                 ...
65321                  0.077                   0.0               0.000
65322                  1.611                   0.0               0.000
65323                  0.000                   0.0               0.056
65324                  0.500                   0.0               0.000
65325                  0.222                   0.0               0.167

       Cosine_similarity  Post_interval real_fake
0               0.111111       0.094985         f
1               0.206826     230.412857         f
2               0.572174      43.569939         f
3               1.000000       5.859799         f
4               0.300494       0.126019         f
...                  ...            ...       ...
65321           0.192308    1745.291260         r
65322           0.169917      54.629120         r
65323           0.058908     129.802048         r
65324           0.103174      53.402840         r
65325           0.017505     604.981445         r

[64244 rows x 18 columns]

# Q15: Print the total number of each fake accounts and real accounts

In [39]:
# write your code here ^_^
print(df['real_fake'].value_counts())

real_fake
r    32460
f    31784
Name: count, dtype: int64

# Q16: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column

In [ ]:
# write your code here ^_^